name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        rust: [1.25.0, stable, beta, nightly]
    continue-on-error: ${{ matrix.rust == 'nightly' }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      - name: Install sqlcipher
        run: brew install sqlcipher
      - name: Run tests
        run: |
          cargo test --verbose --all
          cargo test --features edn/serde_support --verbose --all
          for crate in "." "db" "db-traits" "ffi" "public-traits" "query-projector" "query-projector-traits" "query-pull" "sql" "tolstoy" "tolstoy-traits" "transaction" "tools/cli"; do
            cargo test --manifest-path "$crate/Cargo.toml" --verbose --no-default-features --features sqlcipher
          done

  test-ios:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Install sqlcipher
        run: brew install sqlcipher
      - name: Test iOS
        run: ./scripts/test-ios.sh

  docs:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: 1.25.0
      - uses: Swatinem/rust-cache@v2
      - name: Install sqlcipher
        run: brew install sqlcipher
      - name: Build docs
        run: ./scripts/cargo-doc.sh
